In [3]:
import pandas as pd

PATH = "C:/Users/BRM21427/Desktop/BANREGIO/Automatizaci√≥n_CR/templates/"

plantilla = pd.read_excel(PATH + "plantilla_lamina_ccl_ref.xlsx", sheet_name="plantilla", header=0, usecols="I:J")

In [4]:
plantilla.head(4)

                        Unnamed: 8 Unnamed: 9
0                  dic_comparative        NaN
1                   S.Ponderar (%)        NaN
2  ref(2200301070,dic_comparative)        NaN
3  ref(2200501070,dic_comparative)        NaN

In [8]:
prueba_1 = plantilla.iloc[2, 0]
prueba_2 = plantilla.iloc[3, 0]

In [10]:
import re

REF_PATTERN = re.compile(
        r"ref\(\s*(\d+)\s*,\s*([a-zA-Z_][a-zA-Z0-9_]*)\s*\)", re.IGNORECASE
    )
refs = REF_PATTERN.findall(prueba_2)
refs2 = REF_PATTERN.findall(prueba_1)

In [11]:
refs

[('2200501070', 'dic_comparative')]

In [46]:
MESES = {
    "ene": "01",
    "feb": "02",
    "mar": "03",
    "abr": "04",
    "may": "05",
    "jun": "06",
    "jul": "07",
    "ago": "08",
    "sep": "09",
    "oct": "10",
    "nov": "11",
    "dic": "12",
}

In [47]:
def normalizar_fecha(fecha_str: str) -> str:
    mes, anio = fecha_str.lower().split("-")
    anio = "20" + anio
    return anio + MESES[mes]

In [88]:
formula_transformada = prueba_3
for clave, fecha in refs:
    formula_transformada = formula_transformada.replace(
        f"ref({clave},{fecha})",
        f"{clave}_{normalizar_fecha(fecha)}"
    )

In [89]:
formula_transformada

"f'{math.floor(ref(3, dic-24) * 30)}*'"

In [90]:
contexto = {
    "2200301070_202412": 1500,
    "2200301072_202412": 1200,
    "3_202412": 1.1914 
}

In [91]:
resultado = eval(
    formula_transformada,
    {"__builtins__": {}},
    contexto
)

NameError: name 'math' is not defined

In [71]:
resultado

100.0